{"openapi":"3.0.0","info":{"title":"My Express API","version":"1.0.0","description":"A simple Express API documented with Swagger"},"paths":{"/claims":{"get":{"summary":"List claims","description":"Returns a list of claims as JSON (in-memory).","tags":["Claims"],"parameters":[{"in":"query","name":"status","schema":{"type":"string"},"description":"Filter by workflow status (case-insensitive)"},{"in":"query","name":"minScore","schema":{"type":"number"},"description":"Filter by minimum fraud score (0-100)"},{"in":"query","name":"q","schema":{"type":"string"},"description":"Substring search across id/policy/claimant fields"}],"responses":{"200":{"description":"Claims list","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"ok"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Claim"}}}}}}}}},"post":{"summary":"Create claim","description":"Creates a claim and computes fraud score and signals.","tags":["Claims"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","description":"Claim fields (flexible schema)"}}}},"responses":{"201":{"description":"Created claim"}}}},"/claims/{claimId}":{"get":{"summary":"Get claim by id","tags":["Claims"],"parameters":[{"in":"path","name":"claimId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Claim object"},"404":{"description":"Claim not found"}}},"put":{"summary":"Replace claim","tags":["Claims"],"parameters":[{"in":"path","name":"claimId","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"Updated claim"},"404":{"description":"Claim not found"}}},"patch":{"summary":"Patch claim","description":"Patches a claim; commonly used to update status.","tags":["Claims"],"parameters":[{"in":"path","name":"claimId","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"REVIEW"}}}}}},"responses":{"200":{"description":"Updated claim"},"404":{"description":"Claim not found"}}},"delete":{"summary":"Delete claim","tags":["Claims"],"parameters":[{"in":"path","name":"claimId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Deleted"},"404":{"description":"Claim not found"}}}},"/explanation/{claimId}":{"get":{"summary":"Get claim explanation","description":"Returns an explanation payload for a claim (generated on-demand, in-memory).","tags":["Explanation"],"parameters":[{"in":"path","name":"claimId","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Explanation payload"},"404":{"description":"Claim not found"}}}},"/fraud_signals":{"get":{"summary":"List available fraud signals","description":"Returns the catalog of fraud signals that the backend may emit for a claim. This is intended for UI display/labeling without exposing internal rule logic.\n","tags":["Fraud Signals"],"responses":{"200":{"description":"Fraud signals catalog","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"ok"},"data":{"type":"array","items":{"$ref":"#/components/schemas/FraudSignalCatalogItem"}}}}}}}}}},"/openapi.json":{"get":{"summary":"Get OpenAPI spec (JSON)","description":"Returns the generated OpenAPI/Swagger specification document as JSON.","tags":["Health"],"responses":{"200":{"description":"OpenAPI specification JSON","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/":{"get":{"summary":"Health endpoint","tags":["Health"],"responses":{"200":{"description":"Service health check passed","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"ok"},"message":{"type":"string","example":"Service is healthy"},"timestamp":{"type":"string","format":"date-time"},"environment":{"type":"string","example":"development"}}}}}}}}},"/upload_csv":{"post":{"summary":"Upload and ingest claims CSV","description":"Uploads a CSV file (multipart/form-data, field name \"file\") and ingests/scored claims into in-memory store.","tags":["Upload"],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"Ingest result"},"400":{"description":"Invalid request/CSV"}}}}},"components":{"schemas":{"Claim":{"type":"object","properties":{"id":{"type":"string","example":"CLM-0001"},"policy_id":{"type":"string","example":"POL-10001"},"claimant_name":{"type":"string","example":"John Doe"},"date_of_loss":{"type":"string","example":"2026-01-14"},"claim_amount":{"type":"number","example":12500},"status":{"type":"string","example":"REVIEW"},"fraud_score":{"type":"number","example":82},"fraud_signals":{"type":"array","items":{"type":"object"}},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"FraudSignal":{"type":"object","description":"Fraud signal emitted by the scoring engine for a claim.","properties":{"code":{"type":"string","example":"HIGH_AMOUNT"},"severity":{"type":"string","description":"Severity band of the signal.","example":"high","enum":["low","medium","high"]},"points":{"type":"number","description":"Points contribution when the signal triggers for a claim (if applicable).","example":35},"message":{"type":"string","description":"Human-friendly message shown to users.","example":"Claim amount is unusually high."},"meta":{"type":"object","additionalProperties":true,"description":"Optional metadata attached when a signal triggers on a claim."}}},"FraudSignalCatalogItem":{"allOf":[{"$ref":"#/components/schemas/FraudSignal"}],"description":"Catalog entry describing a possible fraud signal. Catalog entries may omit meta since meta is typically claim-specific.\n"}}},"tags":[{"name":"Health","description":"Service health endpoints"},{"name":"Claims","description":"Claims CRUD endpoints"},{"name":"Upload","description":"CSV ingest endpoints"},{"name":"Explanation","description":"Explanation endpoints"},{"name":"Fraud Signals","description":"Fraud signal catalog endpoints"}],"servers":[{"url":"https://vscode-internal-10575-beta.beta01.cloud.kavia.ai:3001"}]}